// Denna sida visas när man vill se hur Programmeringsklubben funkar

extends layout

block head
    style(type='text/css')
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

block content
    include nav-logged-in
    .container-fluid
      .row-fluid
         .span3

         .span7
           .hero-unit
             .row-fluid
               .columnA.pull-left
                   table.table
                     //caption
                       | Rubrik
                     thead
                        h2
                                | #{"Förnamn"}
                                | #{"Efternamn"}
                     tr
                         td

                             p
                                 | ORT
                                 br
                                 | ÅLDER
                                 br
                                 | YRKE
                                 br
                                 | FÖRETAG
                                 br
                                 | UTBILDNING

                         td
                             p
                                | Redigera #{""}
                                br
                                | Redigera #{""}
                                br
                                | Redigera #{""}
                                br
                                | Redigera #{""}
                                br
                                | Redigera #{""}
               .columnB.pull-right
                 ul.thumbnails
                   li.span10
                     .thumbnail
                       img.img-polaroid(src='/img/empty-pic.png')
                       .caption
                            p
                                .dropdown
                                    a.btn.btn-small.dropdown-toggle(data-toggle='dropdown', href='#')
                                        | Lägg till en vän
                                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                        p Vill du skicka vänförfrågan?
                                        .row-fluid
                                            a.btn.btn-small(href="#") Ja
                                            a.btn.btn-small(href="#") Ja
                                .dropdown
                                    a.btn.btn-small(href='#sendMsg', data-toggle='modal')
                                        | Skriv meddelande
                            include popupmsg
           .row-fluid
             .span4
               h3
                 | Om mig
               p.lead
                   | Redigera #{""}
               h3
                 | Kunskaper
               p.lead
                    | Redigera #{""}
               h3
                 | CV
               p.lead
                    | Redigera #{""}

         .span2