.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='dash') Programmeringsklubben
            .nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='dash') Hem
                    li
                        a(href='about') Om
                ul.nav
                    li
                        form.navbar-form.pull-right
                            input.span2(type='text', placeholder='Sök')
                            button.btn(type='submit')
                              i.icon-search
                ul.nav
                    li
                        |
                    li
                      .dropdown
                          button.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                              i.icon-user
                              span.badge #{2}
                          ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                            p Du har #{2} nya förfrågningar:
                            hr
                            // For
                            h6 #{"Förnamn Efternamn"}?
                            .row-fluid
                                a.btn.btn-small(href="#") Ja
                                a.btn.btn-small(href="#") Nej
                    li
                      |
                    li
                      .dropwdown
                          button.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                              i.icon-envelope
                              span.badge #{20}
                          ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                              p Du har #{20} nya meddelanden:
                              hr
                              // For
                              h6 #{"Ämne"}
                              .row-fluid
                                  a.btn.btn-small(href="#") Läs
                p.navbar-text.pull-right
                    | Inloggad som:
                    a#nav-username.navbar-link(href='#') #{reqsessionuserid}
                    &nbsp;
                    a.btn-success.btn-small(href="/logout") Logga ut
